name: Test project in a PR
on: [pull_request]
jobs:
  test_example_mac:
    runs-on: macos-latest
    defaults:
      run:
        # Run everything from within the example directory
        working-directory: ./example
    steps:
      # Checkout the PR branch
      - uses: actions/checkout@v3

      # Setup Flutter environment
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          architecture: x64

      # Download all the packages that the app uses
      - run: flutter pub get

      # Run all tests
      - run: flutter test

  test_mac:
    runs-on: macos-latest
    steps:
      # Checkout the PR branch
      - uses: actions/checkout@v3

      # Setup Flutter environment
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          architecture: x64

      # Download all the packages that the app uses
      - run: flutter pub get

      # Run all tests
      - run: flutter test